<div class="row">
	<div class="large-4 columns"></div>
	<div class="large-4 large-centered columns">
		<span class="button-container">
			<%= link_to "On", on_path, :remote => true, class: "button large round"  %>
		</span>
		<span class="button-container">
			<%= link_to "Off", off_path, :remote => true, class: "button large round"  %>
		</span>
	</div>
	<div class="large-4 columns"></div>
</div>